In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('input.txt',header=None, sep = ' ', names=['Opp', 'Action'])

In [21]:
df['Action_Pts']=df['Action'].where(df['Action']!='X', 1).where(df['Action']!='Y', 2).where(df['Action']!='Z', 3)

In [95]:
df['Win'] = 0

In [96]:
df['Win'] = 0
df['Win'].loc[(df['Opp'] == 'B') & (df['Action'] == 'Z')]=6
df['Win'].loc[(df['Opp'] == 'C') & (df['Action'] == 'X')]=6
df['Win'].loc[(df['Opp'] == 'A') & (df['Action'] == 'Y')]=6
#.where(df[['Opp','Action']] != ['B', 'Y'], 6)
#.where(df[['Action','Opp']] != ['Z', 'A'], 6)

In [97]:
df.head(15)

   Opp Action Action_Pts  Win
0    B      X          1    0
1    B      Y          2    0
2    A      Y          2    6
3    B      Y          2    0
4    B      Y          2    0
5    A      Y          2    6
6    A      X          1    0
7    A      Y          2    6
8    C      X          1    6
9    A      Y          2    6
10   A      Y          2    6
11   B      Y          2    0
12   B      Z          3    6
13   A      Y          2    6
14   B      Z          3    6